.b-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 16px; }
  .b-row--margin-bottom {
    margin-bottom: 16px; }
  .b-row--no-margin-bottom {
    margin-bottom: 0; }
  .b-row--no-col-gutters .b-col {
    padding-left: 0;
    padding-right: 0; }
  .b-row--reverse {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .b-row--align-start {
    -webkit-align-items: flex-start;
            align-items: flex-start; }
  .b-row--align-center {
    -webkit-align-items: center;
            align-items: center; }
  .b-row--align-end {
    -webkit-align-items: flex-end;
            align-items: flex-end; }
  .b-row--justify-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start; }
  .b-row--justify-center {
    -webkit-justify-content: center;
            justify-content: center; }
  .b-row--justify-end {
    -webkit-justify-content: flex-end;
            justify-content: flex-end; }
  .b-row--justify-around {
    -webkit-justify-content: space-around;
            justify-content: space-around; }
  .b-row--justify-between {
    -webkit-justify-content: space-between;
            justify-content: space-between; }

.b-col {
  -webkit-flex-basis: 0;
          flex-basis: 0;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  max-width: 100%;
  min-height: 8px;
  padding-left: 16px;
  padding-right: 16px; }
  .b-col--gutters {
    padding-left: 16px;
    padding-right: 16px; }
  .b-col--no-gutters {
    padding-left: 0;
    padding-right: 0; }
  .b-col--align-start {
    -webkit-align-self: flex-start;
            align-self: flex-start; }
  .b-col--align-center {
    -webkit-align-self: center;
            align-self: center; }
  .b-col--align-end {
    -webkit-align-self: flex-end;
            align-self: flex-end; }
  .b-col--1 {
    -webkit-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .b-col--2 {
    -webkit-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .b-col--3 {
    -webkit-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .b-col--4 {
    -webkit-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .b-col--5 {
    -webkit-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .b-col--6 {
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .b-col--7 {
    -webkit-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .b-col--8 {
    -webkit-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .b-col--9 {
    -webkit-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .b-col--10 {
    -webkit-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .b-col--11 {
    -webkit-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .b-col--12 {
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .b-col--auto {
    -webkit-flex: 1;
            flex: 1; }
  .b-col--offset-left-0 {
    margin-left: 0; }
  .b-col--offset-left-1 {
    margin-left: 8.33333%; }
  .b-col--offset-left-2 {
    margin-left: 16.66667%; }
  .b-col--offset-left-3 {
    margin-left: 25%; }
  .b-col--offset-left-4 {
    margin-left: 33.33333%; }
  .b-col--offset-left-5 {
    margin-left: 41.66667%; }
  .b-col--offset-left-6 {
    margin-left: 50%; }
  .b-col--offset-left-7 {
    margin-left: 58.33333%; }
  .b-col--offset-left-8 {
    margin-left: 66.66667%; }
  .b-col--offset-left-9 {
    margin-left: 75%; }
  .b-col--offset-left-10 {
    margin-left: 83.33333%; }
  .b-col--offset-left-11 {
    margin-left: 91.66667%; }
  .b-col--offset-left-12 {
    margin-left: 100%; }
  .b-col--offset-left-auto {
    margin-left: auto; }
  .b-col--offset-right-0 {
    margin-right: 0; }
  .b-col--offset-right-1 {
    margin-right: 8.33333%; }
  .b-col--offset-right-2 {
    margin-right: 16.66667%; }
  .b-col--offset-right-3 {
    margin-right: 25%; }
  .b-col--offset-right-4 {
    margin-right: 33.33333%; }
  .b-col--offset-right-5 {
    margin-right: 41.66667%; }
  .b-col--offset-right-6 {
    margin-right: 50%; }
  .b-col--offset-right-7 {
    margin-right: 58.33333%; }
  .b-col--offset-right-8 {
    margin-right: 66.66667%; }
  .b-col--offset-right-9 {
    margin-right: 75%; }
  .b-col--offset-right-10 {
    margin-right: 83.33333%; }
  .b-col--offset-right-11 {
    margin-right: 91.66667%; }
  .b-col--offset-right-12 {
    margin-right: 100%; }
  .b-col--offset-right-auto {
    margin-right: auto; }
  @media (min-width: 576px) {
    .b-col--sm-1 {
      -webkit-flex: 0 0 8.33333%;
              flex: 0 0 8.33333%;
      max-width: 8.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-2 {
      -webkit-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-3 {
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 576px) {
    .b-col--sm-4 {
      -webkit-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-5 {
      -webkit-flex: 0 0 41.66667%;
              flex: 0 0 41.66667%;
      max-width: 41.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-6 {
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 576px) {
    .b-col--sm-7 {
      -webkit-flex: 0 0 58.33333%;
              flex: 0 0 58.33333%;
      max-width: 58.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-8 {
      -webkit-flex: 0 0 66.66667%;
              flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-9 {
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; } }
  @media (min-width: 576px) {
    .b-col--sm-10 {
      -webkit-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-11 {
      -webkit-flex: 0 0 91.66667%;
              flex: 0 0 91.66667%;
      max-width: 91.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-12 {
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 576px) {
    .b-col--sm-auto {
      -webkit-flex: 1;
              flex: 1; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-0 {
      margin-left: 0; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-3 {
      margin-left: 25%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-6 {
      margin-left: 50%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-9 {
      margin-left: 75%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-12 {
      margin-left: 100%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-left-auto {
      margin-left: auto; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-0 {
      margin-right: 0; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-1 {
      margin-right: 8.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-2 {
      margin-right: 16.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-3 {
      margin-right: 25%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-4 {
      margin-right: 33.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-5 {
      margin-right: 41.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-6 {
      margin-right: 50%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-7 {
      margin-right: 58.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-8 {
      margin-right: 66.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-9 {
      margin-right: 75%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-10 {
      margin-right: 83.33333%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-11 {
      margin-right: 91.66667%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-12 {
      margin-right: 100%; } }
  @media (min-width: 576px) {
    .b-col--sm-offset-right-auto {
      margin-right: auto; } }
  @media (min-width: 768px) {
    .b-col--md-1 {
      -webkit-flex: 0 0 8.33333%;
              flex: 0 0 8.33333%;
      max-width: 8.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-2 {
      -webkit-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-3 {
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 768px) {
    .b-col--md-4 {
      -webkit-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-5 {
      -webkit-flex: 0 0 41.66667%;
              flex: 0 0 41.66667%;
      max-width: 41.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-6 {
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 768px) {
    .b-col--md-7 {
      -webkit-flex: 0 0 58.33333%;
              flex: 0 0 58.33333%;
      max-width: 58.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-8 {
      -webkit-flex: 0 0 66.66667%;
              flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-9 {
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; } }
  @media (min-width: 768px) {
    .b-col--md-10 {
      -webkit-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-11 {
      -webkit-flex: 0 0 91.66667%;
              flex: 0 0 91.66667%;
      max-width: 91.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-12 {
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .b-col--md-auto {
      -webkit-flex: 1;
              flex: 1; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-0 {
      margin-left: 0; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-3 {
      margin-left: 25%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-6 {
      margin-left: 50%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-9 {
      margin-left: 75%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-12 {
      margin-left: 100%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-left-auto {
      margin-left: auto; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-0 {
      margin-right: 0; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-1 {
      margin-right: 8.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-2 {
      margin-right: 16.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-3 {
      margin-right: 25%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-4 {
      margin-right: 33.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-5 {
      margin-right: 41.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-6 {
      margin-right: 50%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-7 {
      margin-right: 58.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-8 {
      margin-right: 66.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-9 {
      margin-right: 75%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-10 {
      margin-right: 83.33333%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-11 {
      margin-right: 91.66667%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-12 {
      margin-right: 100%; } }
  @media (min-width: 768px) {
    .b-col--md-offset-right-auto {
      margin-right: auto; } }
  @media (min-width: 992px) {
    .b-col--lg-1 {
      -webkit-flex: 0 0 8.33333%;
              flex: 0 0 8.33333%;
      max-width: 8.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-2 {
      -webkit-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-3 {
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 992px) {
    .b-col--lg-4 {
      -webkit-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-5 {
      -webkit-flex: 0 0 41.66667%;
              flex: 0 0 41.66667%;
      max-width: 41.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-6 {
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .b-col--lg-7 {
      -webkit-flex: 0 0 58.33333%;
              flex: 0 0 58.33333%;
      max-width: 58.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-8 {
      -webkit-flex: 0 0 66.66667%;
              flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-9 {
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; } }
  @media (min-width: 992px) {
    .b-col--lg-10 {
      -webkit-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-11 {
      -webkit-flex: 0 0 91.66667%;
              flex: 0 0 91.66667%;
      max-width: 91.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-12 {
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .b-col--lg-auto {
      -webkit-flex: 1;
              flex: 1; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-0 {
      margin-left: 0; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-3 {
      margin-left: 25%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-6 {
      margin-left: 50%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-9 {
      margin-left: 75%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-12 {
      margin-left: 100%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-left-auto {
      margin-left: auto; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-0 {
      margin-right: 0; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-1 {
      margin-right: 8.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-2 {
      margin-right: 16.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-3 {
      margin-right: 25%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-4 {
      margin-right: 33.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-5 {
      margin-right: 41.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-6 {
      margin-right: 50%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-7 {
      margin-right: 58.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-8 {
      margin-right: 66.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-9 {
      margin-right: 75%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-10 {
      margin-right: 83.33333%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-11 {
      margin-right: 91.66667%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-12 {
      margin-right: 100%; } }
  @media (min-width: 992px) {
    .b-col--lg-offset-right-auto {
      margin-right: auto; } }
  @media (min-width: 1200px) {
    .b-col--xl-1 {
      -webkit-flex: 0 0 8.33333%;
              flex: 0 0 8.33333%;
      max-width: 8.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-2 {
      -webkit-flex: 0 0 16.66667%;
              flex: 0 0 16.66667%;
      max-width: 16.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-3 {
      -webkit-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .b-col--xl-4 {
      -webkit-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-5 {
      -webkit-flex: 0 0 41.66667%;
              flex: 0 0 41.66667%;
      max-width: 41.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-6 {
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .b-col--xl-7 {
      -webkit-flex: 0 0 58.33333%;
              flex: 0 0 58.33333%;
      max-width: 58.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-8 {
      -webkit-flex: 0 0 66.66667%;
              flex: 0 0 66.66667%;
      max-width: 66.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-9 {
      -webkit-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; } }
  @media (min-width: 1200px) {
    .b-col--xl-10 {
      -webkit-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-11 {
      -webkit-flex: 0 0 91.66667%;
              flex: 0 0 91.66667%;
      max-width: 91.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-12 {
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .b-col--xl-auto {
      -webkit-flex: 1;
              flex: 1; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-0 {
      margin-left: 0; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-1 {
      margin-left: 8.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-2 {
      margin-left: 16.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-3 {
      margin-left: 25%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-4 {
      margin-left: 33.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-5 {
      margin-left: 41.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-6 {
      margin-left: 50%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-7 {
      margin-left: 58.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-8 {
      margin-left: 66.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-9 {
      margin-left: 75%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-10 {
      margin-left: 83.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-11 {
      margin-left: 91.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-12 {
      margin-left: 100%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-left-auto {
      margin-left: auto; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-0 {
      margin-right: 0; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-1 {
      margin-right: 8.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-2 {
      margin-right: 16.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-3 {
      margin-right: 25%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-4 {
      margin-right: 33.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-5 {
      margin-right: 41.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-6 {
      margin-right: 50%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-7 {
      margin-right: 58.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-8 {
      margin-right: 66.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-9 {
      margin-right: 75%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-10 {
      margin-right: 83.33333%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-11 {
      margin-right: 91.66667%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-12 {
      margin-right: 100%; } }
  @media (min-width: 1200px) {
    .b-col--xl-offset-right-auto {
      margin-right: auto; } }

/* @import '../../node_modules/boom-grid/index'; */
body {
  border: 0;
  color: #091e42;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  outline: none;
  padding: 0;
  min-width: 100%;
  overflow: hidden;
  overflow-y: overlay; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  background: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none; }

a {
  color: inherit;
  margin: 0;
  text-decoration: none; }

ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none; }

:focus {
  outline: 0; }

a svg,
button svg,
label svg {
  pointer-events: none; }

.icon {
  fill: #091e42;
  height: 1rem;
  width: 1rem; }

.svg-holder {
  display: none; }

body {
  background-color: #f3f5f7; }

.btn {
  background-color: #ff276b;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #b5d2ff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .4px;
  padding: 8px 10px; }

.badge {
  background-color: #344563;
  border-radius: 4px;
  color: #fff;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.7;
  padding: 2px 4px; }
  .badge--round {
    -webkit-align-items: center;
            align-items: center;
    border-radius: 50%;
    height: 24px;
    -webkit-justify-content: center;
            justify-content: center;
    padding: 0;
    width: 24px; }
  .badge--danger {
    background-color: #de350b; }
  .badge--safe {
    background-color: #00875a; }
  .badge--warning {
    background-color: #ff8b00; }

.home-container .container {
  min-height: 16px;
  padding-top: 56px; }
  .home-container .container:last-child {
    padding-bottom: 56px; }
  .home-container .container.intro {
    background-color: #fff;
    padding-bottom: 56px;
    text-align: center; }
    .home-container .container.intro h1 {
      margin-bottom: 4px; }
    .home-container .container.intro h3 {
      margin-bottom: 16px; }
    .home-container .container.intro article.top-margin {
      margin-top: 40px; }

.home-container .sub-container {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px; }
  @media (min-width: 768px) {
    .home-container .sub-container {
      border-radius: 4px;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.09);
      padding: 24px; } }
  .home-container .sub-container .b-row:not(.tr) {
    padding-bottom: 0;
    padding-top: 0; }
  .home-container .sub-container .b-col:not(.td) {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
    .home-container .sub-container .b-col:not(.td) > div {
      -webkit-align-items: center;
              align-items: center;
      background-image: linear-gradient(45deg, #b3bac5 3.57%, #ffffff 3.57%, #ffffff 50%, #b3bac5 50%, #b3bac5 53.57%, #ffffff 53.57%, #ffffff 100%);
      background-size: 15.8px 15.8px;
      border: 1px solid #a5adba;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      min-height: 48px; }

.home-container section {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 16px;
  padding-bottom: 24px; }

.home-container article {
  margin-bottom: 16px; }
  .home-container article.top-margin {
    margin-top: 16px; }

.home-container h1 {
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: .6px;
  line-height: 1.35;
  text-align: center; }
  @media (min-width: 576px) {
    .home-container h1 {
      font-size: 48px;
      line-height: 1.3; } }
  @media (min-width: 768px) {
    .home-container h1 {
      font-size: 56px;
      line-height: 1.25; } }
  @media (min-width: 992px) {
    .home-container h1 {
      font-size: 64px;
      line-height: 1.25; } }

.home-container p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; }
  @media (min-width: 576px) {
    .home-container p {
      font-size: 18px;
      line-height: 1.35; } }

.home-container h4 {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.35;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .home-container h4 {
      font-size: 22px;
      line-height: 1.3; } }

.home-container .code {
  font-family: monospace;
  font-size: 13px; }
  @media (min-width: 768px) {
    .home-container .code {
      font-size: 16px; } }
  .home-container .code span {
    background-color: #172b4d;
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    padding: 8px; }
  .home-container .code xmp {
    background-color: #ebecf0;
    border-radius: 8px;
    color: #0052cc;
    display: block;
    padding: 16px;
    white-space: pre-line; }

.home-container .table {
  padding: 16px 0; }
  .home-container .table .thead {
    display: none; }
    @media (min-width: 768px) {
      .home-container .table .thead {
        display: block; } }
    .home-container .table .thead .tr {
      border-bottom: 1px solid #a5adba;
      padding-bottom: 8px; }
    .home-container .table .thead .td {
      font-weight: 700; }
  .home-container .table .tbody {
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .home-container .table .tbody {
        margin-bottom: 0; } }
    .home-container .table .tbody .td:first-child {
      font-weight: 700; }
    .home-container .table .tbody .soft-line {
      border-bottom: 1px solid #f4f5f7;
      display: block; }

