$b-grid-base-size: 8;
$b-grid-gutter-size: 16px;

// breakpoints
$b-grid-breakpoint-sm: 576px;
$b-grid-breakpoint-md: 768px;
$b-grid-breakpoint-lg: 992px;
$b-grid-breakpoint-xl: 1200px;

@import './sizes';
@import './grid';
